ceidgApi: https://dane.biznes.gov.pl
tokenCeidg: tokenCeidg
mfApi: https://wl-api.mf.gov.pl
tokenUrl: localhost:8080
apiKsef: https://api-test.ksef.mf.gov.pl/v2


spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/invoices
    username: postgres
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: email
    password: pass
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true













